@page
@using ChoredomUI.Pages;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <style>
    <!--

    body{
        
    }

    button{
            position: absolute;
         
        color: #000000;
        
        }
        marquee{
        font-size:30px;
        font-weight:800;
        color: #9924c2;
        padding:40px 0;
        }

    -->
    </style>

</head>
<body>
    <marquee>Welcome to Choredom!</marquee>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/Housefloorplan.png" width="800" height="600" />  <!--house image-->
                <!--bedroom butotn-->
                <a asp-page="/Rooms/Bedroom"><button style=" background-color:#FBC6AF; left:200px; top:550px;">Bedroom</button></a>

                <!--Outdoors button-->
                <a asp-page="Rooms/Outdoors"><button style="background-color:#FEE290; left:500px; top:400px;">Outdoors</button></a>
                <!--Living room button-->
                <a asp-page="Rooms/livingRoom"><button style="background-color:#FFFFFF; left:500px; top:570px;">Living Room</button></a>
                <!--Laundry button-->
                <a asp-page="Rooms/Laundry"><button style="background-color:#F3EAA2; left:470px; top:740px;">Laundry</button></a>
                <!--Kitchen button-->
                <a asp-page="Rooms/Kitchen"><button style="background-color:#94B8DA; left:700px; top:740px;">Kitchen</button></a>
                <!--Closet button-->
                <a asp-page="Rooms/Closet"><button style="background-color:#FFF2DC; left:230px; top:740px;">Closet</button></a>
                <!--bathroom button-->
                <a asp-page="Rooms/Bathroom"><button style="background-color:#FFF2DC; left:780px; top:570px;">Bathroom</button></a>
            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;">Housewide Chores:</p>
            <br>
            <input type="radio" id="sweep" name="rad_sweep" value="Sweep">
            <label for="sweep">Sweep</label>
            <br />
            <input type="radio" id="mop" name="rad_mop" value="Mop">
            <label for="mop">Mop</label>
            <br />
            <input type="radio" id="dust" name="rad_dust" value="Dust">
            <label for="dust">Dust</label>
            <br />
            <input type="radio" id="trash" name="rad_trash" value="Trash">
            <label for="trash">Pick up trash</label>
            <br />
            <input type="radio" id="washB" name="rad_washB" value="WashsB">
            <label for="washB">Wash blankets</label>
            <br />
            <input type="radio" id="laundry" name="rad_laundry" value="Laundry">
            <label for="laundry">Do laundry</label>
            <br />
            <input type="radio" id="plants" name="rad_plants" value="Plants">
            <label for="plants">Water plants</label>
            <br />
            <input type="radio" id="windows" name="rad_windows" value="Windows">
            <label for="windows">Wash windows</label>
            <br />
            <input type="radio" id="light" name="rad_light" value="Lightbulb">
            <label for="light">Change lightbulb</label>
            <br />
            <input type="radio" id="dog" name="rad_dog" value="Dog">
            <label for="dog">Walk the dog</label>
            <br />
            <a asp-page="/Chores/ChoreList"><button style=" background-color:mediumpurple;">Custom Chore</button></a>
        </div>
    </div>
</body>
</html>

