@page
@model ChoredomUI.Pages.Chores.AddModel
@{
}

<form method = "post">
    <!--Added formatting from bootstrap-->

    <div class="input-group mb-3">
        <input type = "text" class="form-control" placeholder ="Enter Chore Name" aria-label="Enter Chore Name" aria-describedby="button-addon2" />
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add Chore</button>
    </div>

</form>
