@page
@model ChoredomUI.Pages.Chores.AddModel
@{
}

<form action = "post">
    <!--Add HTML-->
    <div class="row mb-3">
        <label for="inputChoreName" class="col-sm-2 col-form-label">Chore Name:</label>
        <div class="col-sm-10">
            <input type = "text" class="form-control" id="inputChoreName" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Chore</button>
</form>
