@page
@model ChoredomUI.Pages.Chores.ChoreListModel
@{
}




<div class="container">
    <div class="row">
        <h1>Chore List</h1>
    </div>
    <div class="col-sm-9">
        <a asp-page="AddChore" class="btn btn-success">
            <i class="bi bi-plus-square mx-2"></i>Add Chore
        </a>
    </div>
</div>

<ul class="list-group list-group-flush">
@foreach (var chore in Model.ChoreList){
        <li class="list-group-item">@chore.ChoreName</li>
}
</ul>
