@page
@model ChoredomUI.Pages.Chores.ChoreListModel
@{
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenticatedLayout" : "_Layout";
    }
}

<div class="container">
    <div class="row">
        <h1>Chore List</h1>
    </div>
    <div class="col-sm-9">
        <a asp-page="AddChore" class="btn btn-success">
            <i class="bi bi-clipboard-plus mx-2"></i>Add Chore
        </a>
    </div>
</div>

<ul class="list-group list-group-flush">
    @foreach (var chore in Model.ChoreList)
    {
        <li class="list-group-item">
            @chore.ChoreName
            <form method="post">
                <a asp-page="EditChore" asp-route-id="@chore.ChoreId" class="btn btn-success" style="float: right;">
                    <i class="bi bi-pencil mx-2"></i>Edit Chore
                </a>
                <button type="submit" class="btn btn-danger" asp-route-id="@chore.ChoreId" style="float: right;" onclick="return confirm('Are you sure you want to delete this chore? This action cannot be undone');"><i class="bi bi-trash3 mx-2"></i>Delete Chore</button>
            </form>
        </li>


    }
</ul>

