@page
@model ChoredomUI.Pages.Rooms.BathroomModel
@{
    if (HttpContext.User.Identity != null)
    {
        Layout = HttpContext.User.Identity.IsAuthenticated ? "_AuthenticatedLayout" : "_Layout";
    }
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/bathroom.jpg" width="800" height="600" />  <!--bathroom image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;font-family:georgia;">Bathroom Chores:</p>
            <br>
            <input type="checkbox" name="chore" value="Sweep" />Sweep
            <br />
            <input type="checkbox" name="chore" value="Mop" />Mop the floor
            <br />
            <input type="checkbox" name="chore" value="Take out trash" />Take out the trash
            <br />
            <input type="checkbox" name="chore" value="Clean the toilet" />Clean the toilet
            <br />
            <input type="checkbox" name="chore" value="Clean countertops" />Clean the countertops
            <br />
            <input type="checkbox" name="chore" value="Clean the shower" />Clean the shower
            <br />
            <input type="checkbox" name="chore" value="Clean the sink" />Clean the sink
            <br />
            <br />
            <br />
            <a asp-page="/Chores/ChoreList"><button style=" background-color:purple;font-family:georgia;color:white">Custom Chore</button></a>
        </div>
    </div>

</body>
</html>