@page
@model ChoredomUI.Pages.Rooms.BedroomModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/bedroom.jpg" width="800" height="600" />   <!--bedroom image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;font-family:georgia;">Bedroom Chores:</p>
            <br>
            <input type="checkbox" name="chore" value="Make the bed" />Make the bed
            <br />
            <input type="checkbox" name="chore" value="Clear the nightstand" />Clear the nightstand
            <br />
            <input type="checkbox" name="chore" value="Strip bedsheets" />Strip bedsheets
            <br />
            <input type="checkbox" name="chore" value="Vacuum the floor" />Vacuum the floor
            <br />
            <input type="checkbox" name="chore" value="Spot clean walls" />Spot clean walls
            <br />
            <input type="checkbox" name="chore" value="Turn off TV" />Turn off TV
            <br />
            <br />
            <br />
            <a asp-page="/Chores/ChoreList"><button style=" background-color:purple;font-family:georgia; color:white;">Custom Chore</button></a>
        </div>
    </div>

</body>
</html>