@page
@model ChoredomUI.Pages.Rooms.ClosetModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/closet.jpg" width="800" height="600" />   <!--bathroom image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;font-family:georgia;">Closet Chores:</p>
            <br>
            <input type="checkbox" name="chore" value="Put away clothes" />Put away clothes
            <br />
            <input type="checkbox" name="chore" value="Organize your wardrobe" />Organize your wardrobe
            <br />
            <input type="checkbox" name="chore" value="Iron Clothes" />Iron Clothes
            <br />
            <input type="checkbox" name="chore" value="Donate clothes" />Donate clothes
            <br />
            <br />
            <br />
            <a asp-page="/Chores/ChoreList"><button style=" background-color:purple;font-family:georgia;">Custom Chore</button></a>
        </div>
    </div>

</body>
</html>