@page
@model ChoredomUI.Pages.Rooms.ClosetModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/closet.jpg" width="800" height="600" />   <!--bathroom image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;">Closet Chores:</p>
            <br>
            <input type="radio" id="clothes" name="rad_clothes" value="Clothes">
            <label for="clothes">Put away clothes</label>
            <br />
            <input type="radio" id="organize" name="rad_organize" value="Organize">
            <label for="organize">Organize your wardrobe</label>
            <br />
            <input type="radio" id="iron" name="rad_iron" value="Iron">
            <label for="iron">Iron clothes</label>
            <br />
            <input type="radio" id="oldClothes" name="rad_oldClothes" value="OldClothes">
            <label for="oldClothes">Get rid of old clothes</label>
            <br />
            <br />
            <button type="button" id="btn-custom-chore">Custom Chore</button>
        </div>
    </div>

</body>
</html>