@page
@model ChoredomUI.Pages.Rooms.KitchenModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/kitchen.jpg" width="800" height="600" />  <!--Kitchen image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;font-family:georgia;">Kitchen Chores:</p>
            <br />
            <input type="checkbox" name="chore" value="Sweep" />Sweep
            <br />
            <input type="checkbox" name="chore" value="Mop the floor" />Mop the floor
            <br />
            <input type="checkbox" name="chore" value="Take out trash" />Take out trash
            <br />
            <input type="checkbox" name="chore" value="Clean the dishes" />Clean the dishes
            <br />
            <input type="checkbox" name="chore" value="Clean countertops" />Clean countertops
            <br />
            <input type="checkbox" name="chore" value="Prepare dinner" />Prepare dinner
            <br />
            <br />
            <br />
            <a asp-page="/Chores/ChoreList"><button style=" background-color:purple;font-family:georgia;">Custom Chore</button></a>
        </div>
    </div>

</body>
</html>