@page
@model ChoredomUI.Pages.Rooms.LaundryModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/laundry.jpg" width="800" height="600" />  <!--laundry image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;font-family:georgia;">Laundry room Chores:</p>
            <br>
            <input type="checkbox" name="chore" value="Sweep" />Sweep
            <br />
            <input type="checkbox" name="chore" value="Mop the floor" />Mop the floor
            <br />
            <input type="checkbox" name="chore" value="Take out the trash" />Take out the trash
            <br />
            <input type="checkbox" name="chore" value="Wash the laundry" />Wash the laundry
            <br />
            <input type="checkbox" name="chore" value="Dry the laundry" />Dry the laundry
            <br />
            <input type="checkbox" name="chore" value="Fold the laundry" />Fold the laundry
            <br />
            <br />
            <br />
            <a asp-page="/Chores/ChoreList"><button style=" background-color:purple;font-family:georgia;color:white;">Custom Chore</button></a>
        </div>
    </div>

</body>
</html>