@page
@model ChoredomUI.Pages.Rooms.LaundryModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/laundry.jpg" width="800" height="600" />  <!--laundry image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;">Laundry room Chores:</p>
            <br>
            <input type="radio" id="sweep" name="rad_sweep" value="Sweep">
            <label for="sweep">Sweep</label>
            <br />
            <input type="radio" id="mop" name="rad_mop" value="Mop">
            <label for="mop">Mop the floor</label>
            <br />
            <input type="radio" id="trash" name="rad_trash" value="Trash">
            <label for="trash">Take out trash</label>
            <br />
            <input type="radio" id="washC" name="rad_washC" value="WashC">
            <label for="washC">Wash the laundry</label>
            <br />
            <input type="radio" id="dryC" name="rad_dryC" value="DryC">
            <label for="dryC">Dry the laundry</label>
            <br />
            <input type="radio" id="fold" name="rad_fold" value="Fold">
            <label for="fold">Fold the laundry</label>
            <br />
            <br />
            <br />
            <button type="button" id="btn-custom-chore">Custom Chore</button>
        </div>
    </div>

</body>
</html>