@page
@model ChoredomUI.Pages.Rooms.livingRoomModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/livingroom.png" width="800" height="600" />  <!--Living room image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;">Living room Chores:</p>
            <br>
            <input type="radio" id="vacuum" name="rad_vaccum" value="Vaccum">
            <label for="vacuum">Vacuum</label>
            <br />
            <input type="radio" id="dust" name="rad_dust" value="Dust">
            <label for="dust">Dust the room</label>
            <br />
            <input type="radio" id="pillows" name="rad_pillows" value="Pillows">
            <label for="pillows">Fluff the pillows</label>
            <br />
            <input type="radio" id="sanitize" name="rad_sanitize" value="Sanitize">
            <label for="sanitize">Sanitize remotes</label>
            <br />
            <input type="radio" id="table" name="rad_table" value="Table">
            <label for="table">Wipe down coffee table</label>
            <br />
            <button type="button" id="btn-custom-chore">Custom Chore</button>
        </div>
    </div>

</body>
</html>