@page
@model ChoredomUI.Pages.Rooms.livingRoomModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/livingroom.png" width="800" height="600" />  <!--Living room image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;font-family:georgia;">Living room Chores:</p>
            <br>
            <input type="checkbox" name="chore" value="Vacuum the floor" />Vacuum the floor
            <br />
            <input type="checkbox" name="chore" value="Dust the room" />Dust the room
            <br />
            <input type="checkbox" name="chore" value="Fluff the pillows" />Fluff the pillows
            <br />
            <input type="checkbox" name="chore" value="Sanitize remotes" />Sanitize remotes
            <br />
            <input type="checkbox" name="chore" value="Wipe down the coffee table" />Wipe down the coffee table
            <br />
            <br />
            <br />
            <a asp-page="/Chores/ChoreList"><button style=" background-color:purple;font-family:georgia;color:white;">Custom Chore</button></a>
        </div>
    </div>

</body>
</html>