@page
@model ChoredomUI.Pages.Rooms.OutdoorsModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/outdoors.jpg" width="800" height="600" />  <!--bathroom image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;font-family:georgia;">Outdoor Chores:</p>
            <br>
            <input type="checkbox" name="chore" value="Mow the yard" />Mow the yard
            <br />
            <input type="checkbox" name="chore" value="Water the plants" />Water the plants
            <br />
            <input type="checkbox" name="chore" value="Set out the trash" />Set out the trash
            <br />
            <input type="checkbox" name="chore" value="Clean the gutters" />Clean the gutters
            <br />
            <input type="checkbox" name="chore" value="Wash the car" />Wash the car
            <br />
            <input type="checkbox" name="chore" value="Rake the leaves" />Rake the leaves
            <br />
            <input type="checkbox" name="chore" value="Wash the windows" />Wash the windows
            <br />
            <br />
            <br />
            <a asp-page="/Chores/ChoreList"><button style=" background-color:purple;font-family:georgia; color:white;">Custom Chore</button></a>
        </div>
    </div>

</body>
</html>