@page
@model ChoredomUI.Pages.Rooms.OutdoorsModel
@{
}
<html>
<head>


</head>
<body>
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <img src="/lib/img/outdoors.jpg" width="800" height="600" />  <!--bathroom image-->

            </div>
        </div>
        <div class="col-sm-3">
            <br />
            <br />
            <br>

            <p style="font-size:26pt;">Outdoor Chores:</p>
            <br>
            <input type="radio" id="mow" name="rad_mow" value="Mow">
            <label for="mow">Mow the yard</label>
            <br />
            <input type="radio" id="water" name="rad_water" value="Water">
            <label for="water">Water the plants</label>
            <br />
            <input type="radio" id="trash" name="rad_trash" value="Trash">
            <label for="trash">Take out trash</label>
            <br />
            <input type="radio" id="gutters" name="rad_gutters" value="Gutters">
            <label for="gutters">Clean the gutters</label>
            <br />
            <input type="radio" id="car" name="rad_car" value="Car">
            <label for="car">Wash the car</label>
            <br />
            <input type="radio" id="rake" name="rad_rake" value="Rake">
            <label for="rake">Rake the leaves</label>
            <br />
            <input type="radio" id="windows" name="rad_windows" value="Windows">
            <label for="windows">Wash the Windows</label>
            <br />
            <br />
            <button type="button" id="btn-custom-chore">Custom Chore</button>
        </div>
    </div>

</body>
</html>