@page
@model ChoredomUI.Pages.Chores.AddPersonModel
@{
}

<form method="post">
    
    <div class="input-group mb-3">
        <span class="input-group-text">First and last name</span>
        <input type="text" aria-label="First name" class="form-control" id="AddLastName" asp-for="NewPerson.PersonFirstName">
        <input type="text" aria-label="Last name" class="form-control" id="AddFirstName" asp-for="NewPerson.PersonLastName">
    </div>
    <div class="mb-3">
        <a class="btn btn-success">Add Person</a>
    </div>


</form>
